.container{
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    background-color:blue ;
    padding: 30px;
    font-size: 20px;
    text-align: center;
}
.col{
    padding-left: 5px;
    width: 32%;
    height: 500px;
}
.body1:{
    display: flex;
    justify-content: space-between;
}
.footer{
    background-color: blue;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
@media (max-width:600px){
    .body1:{
        flex-direction: column;
    }
    .col{
        width: 100%;
    }
}