* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container_banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container_banner img {
    width: 100%;
    height: auto;
    display: block;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: start;
    color: white;
}

.banner-content h2 {
    font-size: 40px;
}

.banner-content h1 {
    font-size: 70px;
}

.banner-content h3 {
    font-size: 50px;
}

.additional-text {
    position: absolute;
    bottom: 10%;
    left: 2%;
    text-align: start;
    color: white;
}

.additional-text p {
    font-size: 20px;
    margin-bottom: 3px;
    margin-top: 3px;
}

    


.banner-8 .inner-head {
    text-align: center;
    position: relative;
}
.banner-8 .inner-head .inner-logo {
    position: absolute;
    top: 0;
    right: 30px;
    width: 80px;
    height: 100px;
    background-color: green;
    color: #fff;
    text-align: center;
}
.banner-8 .inner-head h1 {
    color: #000;
    font-weight: 600;
    font-size: 30px;
}
.banner-8 .inner-head p {
    font-weight: 100;
    font-size: 25px;
}
.banner-8 .inner-head .inner-logo p {
    border-bottom: 1px solid #fff;
    width: 80%;
    margin: auto;
    margin-top: 60px;
    padding-bottom: 5px;
    font-size: 25px;
}
.banner-8 .inner-list {
    padding: 0 80px;
    margin-top: 50px;
}
.banner-8 .inner-list .inner-items {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.banner-8 .inner-list .inner-item {
    width: 22%;
    height: 300px;

}
.banner-8 .inner-list .inner-item img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.banner-8 .inner-list .inner-item .inner-cost{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;   
    padding: 0 20px;
}
.container_banner5 {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.banner-content5 {
    position: absolute;
    top: 200px;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: start;
    color: rgb(20, 2, 2);
}
.container_banner5 {
    position: relative;
    width: 100%;
    overflow: hidden;
}